<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="container-fluid bg-grey">
    <section class="container content-section">
        <div class="shop-items">
            <% for (var i = 0; i < postersArray.length; i++) { %>
                <div class="card">
                    <div id="itemCard" class="card-image">
                        <img class="shop-item-image" src="data:<%= flowersArray[i].imageContentType %>;base64,<%= flowersArray[i].imageData %>"/>
                        <span class="card-title"><%= postersArray[i].name %></span>
                        <a href="#store" id="addToOrderButton" class="float"
                           onclick="addToOrder('<%= itemsInOrderArray.length %>', '<%= postersArray[i].name %>', '<%= postersArray[i].creator %>', '<%= postersArray[i].price %>',  '<%= postersArray[i].imageContentType %>', '<%= postersArray[i].imageData %>', 'data:<%= postersArray[i].imageContentType %>;base64,<%= postersArray[i].imageData %>')">
                            <i class="fa fa-plus my-float"></i>
                        </a>
                    </div>

                    <div class="card-content">
                        <p><b>Color:</b><%= " " + postersArray[i].color %></p>
                        <p id="itemPrice"><b>Price:</b><%= " " + postersArray[i].price + "$" %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
    <br/>
    <br/>
    <br/>
    <br/>
    <section class="container content-section">
        <h2 class="section-header">MY CART <i class="fa fa-shopping-order" style="font-size:36px"></i></h2>
        <br/>
        <br/>
        <div class="order-row">
            <span class="order-item order-header order-column">ITEM</span>
            <span class="order-price order-header order-column">PRICE</span>
            <span class="order-quantity order-header order-column">QUANTITY</span>
        </div>
        <div class="order-items">
            <% for (var i = 0; i < postersArray.length; i++) { %>
                <div class="order-row">
                    <div class="order-item order-column">
                        <img class="order-item-image" src="data:<%= itemsInOrderArray[i].imageContentType %>;base64,<%= productsArray[i].imageData %>" width="100" height="100">
                        <span class="order-item-title"><%= postersArray[i].name %></span>
                    </div>
                    <span class="order-price order-column"><%= postersArray[i].price %>$</span>
                    <div class="order-quantity order-column">
                        <input id="input<%= i %><%= itemsInOrderArray[i].name %>" class="order-quantity-input" type="number"
                               onchange="quantityChanged('input<%= i %><%= itemsInOrderArray[i].name %>', '<%= itemsInOrderArray[i].name %>',
                                       'data:<%= itemsInOrderArray[i].imageContentType %>;base64,<%= itemsInOrderArray[i].imageData %>',
                                       '<%= itemsInOrderArray[i].imageContentType %>', '<%= itemsInOrderArray[i].imageData %>')"
                               value="<%= itemsInOrderArray[i].quantity %>">
                        <button id="button<%= i %><%= itemsInOrderArray[i].name %>" class="btn btn-danger" type="button"
                                onclick="removeOrderItem('button<%= i %><%= itemsInOrderArray[i].name %>', '<%= itemsInOrderArray[i].name %>','data:<%= itemsInOrderArray[i].imageContentType %>;base64,<%= itemsInOrderArray[i].imageData %>','<%= itemsInOrderArray[i].imageContentType %>', '<%= itemsInOrderArray[i].imageData %>')">REMOVE</button>
                    </div>`
                </div>
            <% } %>
        </div>
        <div class="order-total">
            <strong class="order-total-title">Total</strong>
            <span class="order-total-price"><%= total %>$</span>
        </div>
        <button id="buttonPur" class="btn btn-primary btn-purchase" type="button" onclick="purchaseClicked(<%= JSON.stringify(itemsInOrderArray) %>)">PURCHASE</button>
    </section>
</div>
</body>
</html>